/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 400;
  font-size: 30px;
  color: #222;
}

.goods-item {
  max-width: 360px;
  width: 100%;
}
.goods-item__img {
  position: relative;
  object-fit: cover;
}
.goods-item__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
  transform: translate(-50%, -50%);
}
.goods-item .overlay {
  visibility: hidden;
}
.goods-item__content {
  padding: 20px 12px;
  background-color: #f8f8f8;
}
.goods-item__title {
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 13px;
  color: #000;
}
.goods-item__description {
  margin-bottom: 18px;
  font-weight: 300;
  font-size: 14px;
  color: #5d5d5d;
}
.goods-item__price {
  font-weight: 400;
  font-size: 16px;
  color: #f16d7f;
}
.goods-item:hover .goods-item__btn {
  visibility: visible;
}
.goods-item:hover .overlay {
  visibility: visible;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  width: 139px;
  height: 44px;
  color: #fff;
  cursor: pointer;
  z-index: 2;
  border: 1px solid #fff;
}
.add-to-cart-btn > img {
  max-width: 26px;
}

.primary-button {
  display: block;
  width: 212px;
  height: 48px;
  border: 1px solid #f26376;
  color: #f26376;
  cursor: pointer;
  z-index: 2;
  background: transparent;
}
.primary-button:hover {
  background-color: #f26376;
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  opacity: 0.86;
  background-color: #3A3838;
}

/* header */
.header {
  height: 75px;
  background-color: #222222;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__logo {
  flex-shrink: 0;
  width: 44px;
  height: 38px;
}

/* home */
.home {
  height: 764px;
  overflow: hidden;
  background-color: #F1E4E6;
}
.home .container {
  position: relative;
}
.home__bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 384px;
  height: 100%;
  object-fit: cover;
}
.home__content {
  width: 405px;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
}
.home__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: -28px;
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
}
.home__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 1.1;
  color: #222;
}

/* suggestion */
.suggestion {
  padding-top: 65px;
  padding-bottom: 96px;
}
.suggestion__top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}
.suggestion__bottom .suggestion-card-block {
  max-width: none !important;
  height: 180px !important;
}
.suggestion .suggestion-card {
  max-width: 360px;
  width: 100%;
  height: 260px;
  position: relative;
}
.suggestion .suggestion-card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.suggestion .suggestion-card__text-top {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
.suggestion .suggestion-card__text-bottom {
  font-weight: 700;
  font-size: 24px;
  color: #f16d7f;
}
.suggestion .suggestion-card-1 {
  background: url("../img/suggestion/suggestion-card-1.jpg") center center no-repeat;
  background-size: cover;
}
.suggestion .suggestion-card-2 {
  background: url("../img/suggestion/suggestion-card-2.jpg") center center no-repeat;
  background-size: cover;
}
.suggestion .suggestion-card-3 {
  background: url("../img/suggestion/suggestion-card-3.jpg") center center no-repeat;
  background-size: cover;
}
.suggestion .suggestion-card-block {
  background: url("../img/suggestion/suggestion-block.jpg") center center no-repeat;
  background-size: cover;
}

/* fetured */
.fetured {
  padding-bottom: 95px;
}
.fetured__header {
  text-align: center;
}
.fetured__title {
  margin-bottom: 6px;
}
.fetured__text {
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  color: #9f9f9f;
}
.fetured__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}
.fetured__cards .goods-item {
  flex: 1 1 33%;
}
.fetured .primary-button {
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
