/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

button,
a {
  all: unset;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

input {
  all: unset;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  height: 75px;
  background-color: #222;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  gap: 40px;
}
.header__nav > ul {
  display: flex;
  gap: 25px;
}

/* home */
.home {
  background-color: #F1E4E6;
}
.home__container {
  height: 764px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.home__img {
  width: 40%;
  height: 100%;
  align-self: flex-end;
  background: url("../img/home.png") no-repeat bottom center/contain;
}
.home__text {
  position: relative;
  padding-left: 28px;
}
.home__text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 12px;
  height: 103px;
  background: #F16D7F;
}
.home__title {
  display: flex;
  color: #222;
  font-size: 48px;
  font-weight: 900;
}
.home__subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}
.home__subtitle > span {
  color: #F16D7F;
}

/* info */
.info {
  padding: 65px 0 96px 0;
}
.info__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.info__card {
  width: 33%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info__card:first-child {
  background: url("../img/info-1.jpg") no-repeat center center/cover;
}
.info__card:nth-child(2) {
  background: url("../img/info-2.jpg") no-repeat center center/cover;
}
.info__card:last-child {
  background: url("../img/info-3.jpg") no-repeat center center/cover;
}
.info__card-title {
  margin-bottom: 8px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.info__card-subtitle {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.info__card-bottom {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../img/info-4.jpg") no-repeat center center/cover;
}

/* fetured */
.fetured {
  padding-bottom: 95px;
}
.fetured__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}
.fetured__card {
  width: 31%;
}
.fetured__card:first-child .fetured__card-img {
  background: url("../img/fetured-1.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(2) .fetured__card-img {
  background: url("../img/fetured-2.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(3) .fetured__card-img {
  background: url("../img/fetured-3.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(4) .fetured__card-img {
  background: url("../img/fetured-4.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(5) .fetured__card-img {
  background: url("../img/fetured-5.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(6) .fetured__card-img {
  background: url("../img/fetured-6.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(7) .fetured__card-img {
  background: url("../img/fetured-7.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(8) .fetured__card-img {
  background: url("../img/fetured-8.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(9) .fetured__card-img {
  background: url("../img/fetured-9.jpg") no-repeat center center/cover;
}
.fetured__card-img {
  height: 420px;
}
.fetured__card-inner {
  padding: 20px;
  background-color: #F8F8F8;
}
.fetured__card-title {
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 600;
}
.fetured__card-description {
  margin-bottom: 18px;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
}
.fetured__card-price {
  color: #F16D7F;
  font-size: 16px;
}
.fetured__link-wrapper {
  text-align: center;
}
.fetured__link {
  padding: 15px 40px;
  color: #fff;
  background-color: #F16D7F;
}
.fetured .pages {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #EBEBEB;
}
.fetured .pages > ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fetured .pages > ul > li {
  color: #C4C4C4;
  font-size: 16px;
  font-weight: 300;
}
.fetured .pages > ul > li:first-child {
  color: #EF5B70;
}

/* suggestions */
.suggestions {
  padding: 104px 0;
  background-color: #222224;
}
.suggestions__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.suggestions__item {
  width: 31%;
  color: #fff;
  text-align: center;
}
.suggestions__img {
  margin-bottom: 28px;
}
.suggestions__title {
  margin-bottom: 16px;
  color: #FBFBFB;
  font-size: 19.96px;
}
.suggestions__description {
  color: #FBFBFB;
  text-align: center;
  font-size: 13.972px;
  font-weight: 300;
}

/* subscribe */
.subscribe {
  padding: 100px 0;
  background: url("../img/subscribe-bg.png") no-repeat center center/cover;
}
.subscribe__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.subscribe__recommendation {
  max-width: 360px;
  text-align: center;
}
.subscribe__img {
  margin-bottom: 30px;
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subscribe__title {
  color: #222224;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe__description {
  margin-bottom: 32px;
  color: #222224;
  font-size: 18px;
  line-height: 167.2%;
}
.subscribe__form-wrapper {
  display: flex;
  align-items: center;
}
.subscribe__input {
  width: 322px;
  height: 49px;
  padding: 7px 22px;
  color: #222224;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #E1E1E1;
}
.subscribe__button {
  height: 49px;
  margin-left: -30px;
  padding: 0 7px;
  color: #fff;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: #E05C6E;
}

/* footer */
.footer {
  padding: 30px 0;
  color: #fff;
  background-color: #222224;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
}
.footer .links__item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
}

/* arrivals */
.arrivals {
  height: 148px;
  background-color: #F8F3F4;
}
.arrivals__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrivals__title {
  color: #F16D7F;
  font-size: 24px;
}
.arrivals__breadcrumbs {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.arrivals__breadcrumbs > span {
  color: #F16D7F;
  font-weight: 700;
}

/* filter */
.filter {
  padding-top: 50px;
  padding-bottom: 64px;
}
.filter__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__left {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
}
.filter__sort {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #6F6E6E;
  font-size: 14px;
}

/* slider */
.product-description {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 620px;
  background-color: #F7F7F7;
}
.product-description__img {
  width: 100%;
  object-fit: cover;
}
.product-description__wrapper {
  position: absolute;
  bottom: -550px;
  background-color: #fff;
  z-index: 100;
}
.product-description__container {
  padding: 65px 0;
  text-align: center;
  border: 1px solid #EAEAEA;
}
.product-description__title {
  position: relative;
  margin-bottom: 27px;
  color: #F16D7F;
  font-size: 14px;
  font-weight: 300;
}
.product-description__title::after {
  position: absolute;
  content: "";
  width: 63px;
  height: 3px;
  background-color: #EF5B5B;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}
.product-description__subtitle {
  margin-bottom: 48px;
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
}
.product-description__text {
  max-width: 60%;
  margin: 0 auto 32px;
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 300;
}
.product-description__price {
  position: relative;
  margin-bottom: 130px;
  color: #EF5B70;
  font-size: 24px;
  font-weight: 300;
}
.product-description__price::after {
  position: absolute;
  content: "";
  width: 65%;
  height: 1px;
  background-color: #EAEAEA;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
}
.product-description .filter__right {
  margin-bottom: 48px;
}
.product-description .add-to-cart {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  padding: 10px 24px;
  color: #F26376;
  font-size: 16px;
  border: 1px solid #F26376;
}

/* cart */
.cart {
  padding: 96px 0 128px;
}
.cart__container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.cart__wrapper {
  flex: 1;
}
.cart__item {
  max-width: 652px;
  width: 100%;
  height: 306px;
  position: relative;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.cart__item:not(:last-child) {
  margin-bottom: 40px;
}
.cart__item-info {
  max-width: 262px;
  padding: 22px 31px;
}
.cart__img {
  max-width: 262px;
  width: 100%;
  height: 306px;
  object-fit: cover;
}
.cart__item-title {
  margin-bottom: 42px;
  color: #222;
  text-transform: uppercase;
  font-size: 24px;
}
.cart__item-text {
  color: #575757;
  font-size: 22px;
}
.cart__remove {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}
.cart__total {
  max-width: 358px;
  width: 100%;
  padding-top: 17px;
}
.cart__total .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 34px;
}
.cart__total .form__title {
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.cart__total .form__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 23px;
}
.cart__total .form__input {
  height: 45px;
  padding: 12px 15px;
  border: 1px solid #A4A4A4;
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
  box-sizing: border-box;
}
.cart__total .form__button {
  align-self: flex-start;
  padding: 10px 15px;
  color: #A4A4A4;
  border: 1px solid #A4A4A4;
}
.cart__total .total-price {
  text-align: right;
  padding: 40px 34px;
  background-color: #F5F3F3;
}
.cart__total .total-price__top {
  margin-bottom: 12px;
  color: #4A4A4A;
  font-size: 11px;
}
.cart__total .total-price__bottom {
  margin-bottom: 21px;
  color: #222;
  font-size: 16px;
  font-weight: 300;
}
.cart__total .total-price__bottom > span {
  color: #F16D7F;
  margin-bottom: 21px;
}
.cart__total .total-price__divider {
  width: 100%;
  height: 1px;
  margin-bottom: 17px;
  background-color: #E2E2E2;
}
.cart__total .total-price__button {
  width: 100%;
  height: 55px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #F16D7F;
}

/* media */
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 667px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
