/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

button,
a {
  all: unset;

  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

input {
  all: unset;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  height: 75px;
  background-color: #222;;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    gap: 40px;
  }

  &__nav > ul {
    display: flex;
    gap: 25px;
  }
}

/* home */
.home {
  background-color: #F1E4E6;

  &__container {
    height: 764px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  &__img {
    width: 40%;
    height: 100%;
    align-self: flex-end;
    background: url('../img/home.png') no-repeat bottom center/contain;
  }

  &__text {
    position: relative;
    padding-left: 28px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 12px;
      height: 103px;
      background: #F16D7F;
    }
  }

  &__title {
    display: flex;
    color: #222;
    font-size: 48px;
    font-weight: 900;
  }

  &__subtitle {
    color: #222;
    font-size: 32px;
    font-weight: 700;

    & > span {
      color: #F16D7F;
    }
  }
}

/* info */
.info {
  padding: 65px 0 96px 0;

  &__container {
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
  }

  &__card {
    width: 33%;
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &:first-child {
      background: url('../img/info-1.jpg') no-repeat center center/cover;
    }

    &:nth-child(2) {
      background: url('../img/info-2.jpg') no-repeat center center/cover;
    }

    &:last-child {
      background: url('../img/info-3.jpg') no-repeat center center/cover;
    }
  }

  &__card-title {
    margin-bottom: 8px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  &__card-subtitle {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
  }

  &__card-bottom {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('../img/info-4.jpg') no-repeat center center/cover;
  }
}

/* fetured */
.fetured {
  padding-bottom: 95px;

  &__container {
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 48px;
  }

  &__card {
    width: 31%;

    &:first-child &-img {
      background: url('../img/fetured-1.jpg') no-repeat center center/cover;
    }

    &:nth-child(2) &-img {
      background: url('../img/fetured-2.jpg') no-repeat center center/cover;
    }

    &:nth-child(3) &-img {
      background: url('../img/fetured-3.jpg') no-repeat center center/cover;
    }

    &:nth-child(4) &-img {
      background: url('../img/fetured-4.jpg') no-repeat center center/cover;
    }

    &:nth-child(5) &-img {
      background: url('../img/fetured-5.jpg') no-repeat center center/cover;
    }

    &:nth-child(6) &-img {
      background: url('../img/fetured-6.jpg') no-repeat center center/cover;
    }

    &:nth-child(7) &-img {
      background: url('../img/fetured-7.jpg') no-repeat center center/cover;
    }

    &:nth-child(8) &-img {
      background: url('../img/fetured-8.jpg') no-repeat center center/cover;
    }

    &:nth-child(9) &-img {
      background: url('../img/fetured-9.jpg') no-repeat center center/cover;
    }
  }

  &__card-img {
    height: 420px;
  }

  &__card-inner {
    padding: 20px;
    background-color: #F8F8F8;
  }

  &__card-title {
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 600;
  }

  &__card-description {
    margin-bottom: 18px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
  }

  &__card-price {
    color: #F16D7F;
    font-size: 16px;
  }

  &__link-wrapper {
    text-align: center;
  }

  &__link {
    padding: 15px 40px;
    color: #fff;
    background-color: #F16D7F;
  }

  .pages {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #EBEBEB;

    & > ul {
      display: flex;
      align-items: center;
      gap: 10px;

      & > li {
        color: #C4C4C4;
        font-size: 16px;
        font-weight: 300;
      }

      & > li:first-child {
        color: #EF5B70;
      }
    }
  }
}

/* suggestions */
.suggestions {
  padding: 104px 0;
  background-color: #222224;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 31%;
    color: #fff;
    text-align: center;
  }

  &__img {
    margin-bottom: 28px;
  }

  &__title {
    margin-bottom: 16px;
    color: #FBFBFB;
    font-size: 19.96px;
  }

  &__description {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-weight: 300;
  }
}

/* subscribe */
.subscribe {
  padding: 100px 0;
  background: url('../img/subscribe-bg.png') no-repeat center center/cover;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__recommendation {
    max-width: 360px;
    text-align: center;
  }

  &__img {
    margin-bottom: 30px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    color: #222224;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%;
  }

  &__description {
    margin-bottom: 32px;
    color: #222224;
    font-size: 18px;
    line-height: 167.2%;
  }

  &__form-wrapper {
    display: flex;
    align-items: center;
  }

  &__input {
    width: 322px;
    height: 49px;
    padding: 7px 22px;
    color: #222224;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #E1E1E1;
  }

  &__button {
    height: 49px;
    margin-left: -30px;
    padding: 0 7px;
    color: #fff;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #E05C6E;
  }
}

/* footer */
.footer {
  padding: 30px 0;
  color: #fff;
  background-color: #222224;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;

    &__item {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: #fff;
    }
  }
}

/* arrivals */
.arrivals {
  height: 148px;
  background-color: #F8F3F4;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: #F16D7F;
    font-size: 24px;
  }

  &__breadcrumbs {
    color: #636363;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    & > span {
      color: #F16D7F;
      font-weight: 700;
    }
  }
}

/* filter */
.filter {
  padding-top: 50px;
  padding-bottom: 64px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 11px;
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
  }

  &__sort {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #6F6E6E;
    font-size: 14px;
  }
}

/* media */
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 667px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}