/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

button,
a {
  all: unset;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  height: 75px;
  background-color: #222;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__left {
  display: flex;
  gap: 40px;
}
.header__right {
  display: flex;
  gap: 25px;
}

/* home */
.home {
  background-color: #F1E4E6;
}
.home__container {
  height: 764px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.home__img {
  width: 40%;
  height: 100%;
  align-self: flex-end;
  background: url("../img/home.png") no-repeat bottom center/contain;
}
.home__text {
  position: relative;
  padding-left: 28px;
}
.home__text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 12px;
  height: 103px;
  background: #F16D7F;
}
.home__title {
  display: flex;
  color: #222;
  font-size: 48px;
  font-weight: 900;
}
.home__subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
}
.home__subtitle > span {
  color: #F16D7F;
}

/* info */
.info {
  padding: 65px 0 96px 0;
}
.info__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
.info__card {
  width: 33%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.info__card:first-child {
  background: url("../img/info-1.jpg") no-repeat center center/cover;
}
.info__card:nth-child(2) {
  background: url("../img/info-2.jpg") no-repeat center center/cover;
}
.info__card:last-child {
  background: url("../img/info-3.jpg") no-repeat center center/cover;
}
.info__card-title {
  margin-bottom: 8px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}
.info__card-subtitle {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}
.info__card-bottom {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../img/info-4.jpg") no-repeat center center/cover;
}

/* fetured */
.fetured {
  padding-bottom: 95px;
}
.fetured__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 48px;
}
.fetured__card {
  width: 31%;
}
.fetured__card:first-child .fetured__card-img {
  background: url("../img/fetured-1.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(2) .fetured__card-img {
  background: url("../img/fetured-2.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(3) .fetured__card-img {
  background: url("../img/fetured-3.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(4) .fetured__card-img {
  background: url("../img/fetured-4.jpg") no-repeat center center/cover;
}
.fetured__card:nth-child(5) .fetured__card-img {
  background: url("../img/fetured-5.jpg") no-repeat center center/cover;
}
.fetured__card:last-child .fetured__card-img {
  background: url("../img/fetured-6.jpg") no-repeat center center/cover;
}
.fetured__card-img {
  height: 420px;
}
.fetured__card-inner {
  padding: 20px;
  background-color: #F8F8F8;
}
.fetured__card-title {
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 600;
}
.fetured__card-description {
  margin-bottom: 18px;
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
}
.fetured__card-price {
  color: #F16D7F;
  font-size: 16px;
}
.fetured__link-wrapper {
  text-align: center;
}
.fetured__link {
  padding: 15px 40px;
  color: #fff;
  background-color: #F16D7F;
}

/* footer */
/* media */
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (max-width: 667px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
