/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

button,
a {
  all: unset;

  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  height: 75px;
  background-color: #222;;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
    gap: 40px;
  }

  &__right {
    display: flex;
    gap: 25px;
  }
}

/* home */
.home {
  background-color: #F1E4E6;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  &__img {
    display: block;
    height: 100%;
    align-self: flex-end;
    object-fit: contain;
  }

  &__text {
    position: relative;
    padding-left: 28px;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 12px;
      height: 103px;
      background: #F16D7F;
    }
  }

  &__title {
    display: flex;
    color: #222;
    font-size: 48px;
    font-weight: 900;
  }

  &__subtitle {
    color: #222;
    font-size: 32px;
    font-weight: 700;

    & > span {
      color: #F16D7F;
    }
  }
}

/* footer */
.footer {
}

.copy {
}

/* media */
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 667px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}