<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>eShop</title>

    <script defer
            src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  <body>
  <div id="app">
    <header>
      <!-- search component -->
      <search v-model="searchValue"></search>
      <button @click="showCart" class="cart-button" type="button">Корзина</button>
    </header>

    <main>
      <!-- goods-list component -->
      <goods-list v-if="filteredGoods.length" :goods="filteredGoods" @add-to-cart="addToCart"></goods-list>
      <div v-else>Нет данных</div>

      <!-- cart component -->
      <cart v-if="isVisibleCart" :cart-items="cartItems"></cart>
    </main>

    <!-- feedback component -->
    <feedback @submit-form="submitForm"></feedback>
  </div>
  </body>
</html>
