/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

.h1-heading {
    font-size: 64px;
    color: #1F3F68;
    font-weight: 300;
    line-height: 116%;
    letter-spacing: 0.04em;
}

.h2-heading {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3-heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 128%;
    letter-spacing: 0.05em;
    color: #000;
}

.h4-heading {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.input-field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.button-primary {
    border-radius: 10px;
    width: 220px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    box-shadow: 5px 10px 20px 0 rgba(53, 110, 173, 0.2);
    background: #5a98d0;
}

.button-secondary {
    width: 236px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    background: #5a98d0;
}

.submit-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

/* header */
.header {
    padding-top: 37px;
    padding-bottom: 47px;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* home */
.home {
    padding-top: 60px;
    padding-bottom: 190px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(0deg, #ebf3fb 28.39%, #fff 100%);
}

.home .container {
    position: relative;
}

.home-content {
    position: relative;
    z-index: 1;
}

.home .home-bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 554px;
    height: 482px;
    background: url('../img/home.png') right bottom no-repeat;
    background-size: contain;
}

.home .h1-heading {
    max-width: 510px;
    margin-bottom: 32px;
}

.home .paragraph {
    max-width: 425px;
    margin-bottom: 71px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    opacity: 0.6;
    letter-spacing: 0.05em;
    color: #1f3f68;
}

/* what-we-do */
.what-we-do {
    padding-top: 64px;
    padding-bottom: 64px;
}

.what-we-do .h3-heading {
    margin-bottom: 64px;
}

.what-we-do .cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.what-we-do .card {
    max-width: 359px;
    position: relative;
    width: 100%;
    padding: 216px 32px 32px;
    box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.2);
    background: #fff;
    border-radius: 10px;
}

.what-we-do .card__img {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 172px;
    height: 120px;
    transform: translateX(-50%);
}

.card .h4-heading {
    margin-bottom: 14px;
}

.card .paragraph {
    margin-bottom: 30px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
}

.card__link {
    display: flex;
    align-items: center;
    gap: 16px;
}

.card__link > a {
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    letter-spacing: 0.05em;
    color: #5a98d0;
    text-decoration: none;
}

/* projects */
.projects .h3-heading {
    margin-bottom: 32px;
}

.projects__item-top {
    position: relative;
}

.projects__item-top {
    margin-bottom: 32px;
}

.projects__item-top > span {
    position: absolute;
    top: 64px;
    right: 64px;
    font-weight: 400;
    font-size: 32px;
    line-height: 144%;
    letter-spacing: 0.05em;
    text-align: right;
    color: #fff;
}

.projects__items-bottom {
    display: flex;
    gap: 32px;
    margin-bottom: 112px;
}

.projects__item {
    position: relative;
}

.projects__item > span {
    position: absolute;
    top: 32px;
    left: 32px;
    font-weight: 400;
    font-size: 28px;
    line-height: 164%;
    letter-spacing: 0.05em;
    color: #fff;
}

.projects .paragraph {
    max-width: 750px;
    margin: 0 auto 64px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #222;
}

/* map */
.contacts-map__content {
    width: 100%;
}

/* contacts */
.contacts-home {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background: url('../img/contacts-home.png') center center no-repeat;
    background-size: cover;
}

.contacts-home .h2-heading {
    margin-bottom: 16px;
}

.contacts-home .paragraph {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    opacity: 0.6;
}

.contacts-info {
    display: flex;
    padding-top: 57px;
    padding-bottom: 96px;
    justify-content: space-between;
    gap: 10px;
}

.contacts-info__left > img {
    margin-bottom: 57px;
}

.contacts-info__left > .h4-heading {
    margin-bottom: 24px;
}

.contacts-info__left > .paragraph{
    color: #1f3f68;
    opacity: 0.6;
    margin-bottom: 40px;
}

.contacts-info__item {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    color: #1f3f68;
    opacity: 0.6;
}

.contacts-info__item:last-child {
    margin-bottom: 40px;
}

.contacts-info__item > a {
    color: #1f3f68;
    opacity: 0.6;
}

.contacts-info__right {
    max-width: 540px;
    width: 100%;
    padding: 56px;
    box-shadow: 5px 10px 50px 0 rgba(16, 112, 177, 0.2);
    background: #fff;
    border-radius: 10px;
}

.contacts-info__right > .h4-heading {
    margin-bottom: 48px;
}

.contacts-map {
    margin-bottom: 112px;
}

.form-label {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.8;
}

.input-field {
    width: 100%;
    min-height: 72px;
    margin-bottom: 32px;
    padding: 21px 42px;
    font-size: 16px;
    box-shadow: 5px 10px 50px 0 rgba(16, 112, 177, 0.2);
    background: #fff;
    opacity: 0.4;
    border-radius: 10px;
    border: 1px solid #356ead;
}

.input-field::placeholder {
    font-weight: 300;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.04em;
    color: #1f3f68;
    opacity: 0.2;
}

.contacts-info__right .button-primary {
    width: 100%;
    height: 72px;
    border: none;
    cursor: pointer;
}

    /* footer */
.footer {
    padding-top: 91px;
    padding-bottom: 64px;
    background: #316099;
}

.footer__text .h3-heading {
    max-width: 340px;
    width: 100%;
    margin-bottom: 32px;
    text-align: left;
    color: #fff;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.footer__text .paragraph {
    max-width: 495px;
    width: 100%;
    text-align: left;
    color: #fff;
    opacity: 0.6;
}

.footer__contacts {
    padding-top: 64px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.footer__item {
    max-width: 280px;
    display: flex;
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #fff;
}

.footer__item .contact-number {
    font-weight: 500;
}

.footer__copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0.4;
}

/* media */
@media screen and (max-width: 768px) {
    .home {
        box-shadow: none;
    }

    .home .home-bg {
        top: 180px;
        width: 336px;
        height: 292px;
    }

    .projects .paragraph {
        max-width: 520px;
    }

    .projects__item > span {
        top: 20px;
        left: 20px;
    }

    .footer__content {
        justify-content: center;
    }

    .footer__text .paragraph {
        max-width: 336px;
    }

    .button-secondary {
        width: 133px;
        height: 31px;
    }

    .contacts-info {
        padding-bottom: 32px;
    }

    .contacts-home .paragraph {
        max-width: 520px;
    }

    .contacts-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contacts-map > .container {
        height: 392px;
        margin-bottom: 64px;
        padding: 0;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__list {
        flex-direction: column;
        gap: 24px;
    }

    .footer__item {
        max-width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .h1-heading {
        font-size: 32px;
        letter-spacing: 0.04em;
    }

    .h3-heading {
        font-size: 24px;
    }

    .button-primary {
        width: 108px;
        height: 27px;
        font-size: 12px;
    }

    .header {
        padding-top: 16px;
        padding-bottom: 24px;
    }

    .home {
        padding-top: 4px;
        padding-bottom: 40px;
        text-align: center;
    }

    .home .h1-heading {
        margin-bottom: 12px;
    }

    .home .paragraph {
        margin-bottom: 32px;
    }

    .home-bg {
        display: none;
    }

    .what-we-do {
        padding-top: 48px;
    }

    .what-we-do .h3-heading {
        margin-bottom: 32px;
    }

    .projects__item-top {
        margin-bottom: 16px;
    }

    .projects__item-top > span {
        top: 16px;
        right: 16px;
        font-size: 16px;
    }

    .projects__items-bottom {
        flex-direction: column;
        gap: 16px;
    }

    .projects__item > span {
        left: 16px;
        font-size: 16px;
    }

    .projects__items-bottom {
        margin-bottom: 64px;
    }

    .footer {
        padding-top: 18px;
        padding-bottom: 32px;
    }

    .contacts-home .h2-heading {
        font-size: 24px;
    }

    .contacts-home .paragraph {
        max-width: 520px;
    }

    .contacts-map > .container {
        height: 349px;
        margin-bottom: 32px;
    }

    .footer__content {
        flex-direction: column;
        margin-bottom: 32px;
    }

    .footer__text {
        margin-bottom: 40px;
    }

    .footer__text .h3-heading,
    .footer__text .paragraph {
        text-align: center;
    }

    .footer__contacts {
        padding-top: 32px;
    }

    .footer__list {
        margin-bottom: 32px;
    }

    .footer__copyright {
        text-align: center;
    }
}
