/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  letter-spacing: 0.8px;
  opacity: 0.6;
}

ul {
  list-style: none;
}

input,
textarea {
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

button,
a {
  all: unset;

  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border: none;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.heading-1 {
  max-width: 510px;
  font-size: 64px;
  font-weight: 300;
  line-height: 74px;
  letter-spacing: 2.56px;
  color: #1F3F68;
}

.heading-2 {
  color: #FFF;
  font-size: 44px;
  font-weight: 500;
  line-height: 74px;
  letter-spacing: 1.76px;
  text-align: center;
}

.heading-3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 1.8px;
  text-align: center;
}

.heading-4 {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  letter-spacing: 1px;
}

.submit-btn {
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

/* header */
.nav {
  padding: 34px 0;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* home */
.home {
  height: 605px;
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0.00) 31.12%);

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__info {
    flex: 1;
    padding-top: 70px;
    background-image: url('../../../img/home.png');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 44%;
  }

  &__heading {
    margin-bottom: 32px;
  }

  &__content {
    max-width: 425px;
    margin-bottom: 70px;
  }

  &__btn {
    padding: 15px 50px;
    border-radius: 10px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px 0 rgba(53, 110, 173, 0.20);
  }
}

/* what-we-do */
.what-we-do {
  &__container {
    padding-top: 64px;
  }

  &__title {
    margin-bottom: 64px;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    gap: 32px;

    &__item {
      width: 359px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 44px 32px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 5px 20px 50px 0 rgba(16, 112, 177, 0.20);
    }

    &__img {
      align-self: center;
      margin-bottom: 50px;
    }

    &__title {
      margin-bottom: 14px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__link {
      font-size: 14px;
      color: #5A98D0;
      text-align: left;
      letter-spacing: 0.7px;
    }
  }
}

/* projects */
.projects {
  padding-bottom: 112px;

  &__container {
    padding-top: 64px;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__description {
    width: 75%;
    margin: 0 auto 64px;
    color: #222;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    opacity: 1;
    letter-spacing: 0.8px;
  }

  &__item {
    position: relative;
    flex: 1;
  }

  &__content > .projects__item {
    margin-bottom: 32px;
  }

  &__text {
    position: absolute;
    top: 32px;
    left: 32px;
    text-align: left;
    color: #fff;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 1.6px;
    opacity: 1;
  }

  &__content > .projects__item > .projects__text {
    text-align: right;
    top: 64px;
    right: 64px;
  }

  &__img {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
}

/* footer */
.footer {
  padding-top: 90px;
  padding-bottom: 64px;
  color: #fff;
  background-color: #316099;
}

.action-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__info {
    max-width: 495px;
    margin-bottom: 96px;
  }

  &__title {
    max-width: 340px;
    margin-bottom: 32px;
    text-align: left;
  }

  &__text {
    color: #fff;
    opacity: 0.6;
  }

  &__btn {
    padding: 15px 80px;
    background: #5A98D0;
  }
}

.contacts-block {
  padding-top: 64px;

  &__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 64px;
  }

  &__item {
    max-width: 316px;
    display: flex;
    gap: 12px;
  }

  &__number {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.8px;
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.8px;
  }
}

.copy {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.8px;
  opacity: 0.4;
}

/* contacts-top */
.contacts-top {
  min-height: 250px;
  background: url('../../../img/contact-bg.png') center bottom no-repeat;
  background-size: cover;

  &__container {
    padding: 50px 0;
  }

  &__heading {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 75%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.60);
  }
}

/* contacts-info */
.contacts-info {
  padding-top: 48px;
  padding-bottom: 96px;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    margin-bottom: 56px;
  }

  &__heading {
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__text {
    font-weight: 300;
    margin-bottom: 40px;
  }

  &__phone-list {
    margin-bottom: 40px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__phone {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.8px;
    opacity: 0.6;
  }

  &__link {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.8px;
    opacity: 0.6;
  }

  &__list {
    max-width: 300px;
    width: 100%;
  }

  .form-block {
    max-width: 540px;
    width: 100%;
    padding: 56px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 5px 10px 50px 0 rgba(16, 112, 177, 0.20);

    &__form-heading {
      margin-bottom: 48px;
      text-transform: uppercase;
    }

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__label {
      margin-bottom: 8px;
      color: #1F3F68;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.64px;
      opacity: 0.8;
    }

    &__input {
      width: 100%;
      height: 72px;
      margin-bottom: 32px;
      padding: 21px 42px;
      border-radius: 10px;
      border: 1px solid #356EAD;
      opacity: 0.4;

      color: #1F3F68;
      font-family: inherit;
      font-size: 16px;
      font-weight: 300;
      line-height: 30px;
      letter-spacing: 0.64px;
    }
  }

  .message-form {
    height: 144px;
    margin-bottom: 72px;
    resize: none;
  }

  .submit-btn {
    padding-top: 23px;
    padding-bottom: 23px;
  }
}

/* map */
.map {
  margin-bottom: 112px;

  &__item {
    width: 100%;
    height: 480px;
  }
}

/* media */
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .home__info {
    background-position: right 280px;
  }

  .projects__container {
    padding-top: 127px;
  }

  .cards {
    align-items: center;
    flex-direction: column;
  }

  .action-block {
    gap: 50px;

    &__btn {
      padding: 7px 34px;
    }

    &__text {
      max-width: 336px;
    }
  }

  .contacts-block__list {
    flex-direction: column;
    gap: 25px;
  }

  .contacts-block__item {
    max-width: 100%;
  }

  .contacts-nav {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .contacts-info__container {
    align-items: center;
    flex-direction: column;
    gap: 64px;
  }

  .map {
    margin-bottom: 64px;

    &__container {
      padding: 0;
    }
  }
}

@media screen and (max-width: 667px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading-1 {
    text-align: center;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 1.28px;
  }

  .heading-2 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.96px;
  }

  .heading-3 {
    font-size: 24px;
    line-height: 27px;
  }

  .home {
    min-height: 232px;
    height: 100%;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 28px;
      padding-bottom: 41px;
      background: none;
    }

    &__heading {
      width: 100%;
      margin-bottom: 12px;
    }

    &__content {
      width: 100%;
      margin-bottom: 32px;
      text-align: center;
    }

    &__btn {
      padding: 6px 12px;
      font-size: 12px;
      border-radius: 10px;
    }
  }

  .what-we-do__title {
    margin-bottom: 32px;
  }

  .cards__item {
    width: 100%;
  }

  .projects {
    &__container {
      padding-top: 64px;
    }

    &__description {
      width: 100%;
    }

    &__content > .projects__item {
      margin-bottom: 16px;
    }

    &__text {
      top: 16px;
      left: 16px;
      font-size: 16px;
      line-height: 19px;
    }

    &__content > .projects__item > .projects__text {
      top: 16px;
      right: 16px;
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  .action-block {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    &__info {
      margin-bottom: 0;
    }

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
    }

    &__btn {
      margin-bottom: 40px;
    }
  }

  .copy {
    text-align: center;
  }

  .contacts-nav {
    padding-bottom: 16px;
  }

  .contacts-top {
    &__heading {
      margin-bottom: 32px;
    }

    &__text {
      font-size: 16px;
    }
  }

  .contacts-info {
    .form-block {
      padding: 36px;

      &__input {
        height: 46px;
        margin-bottom: 20px;
        padding: 13px 26px;
        font-size: 14px;
        letter-spacing: 0.56px;
      }

      .submit-btn {
        padding-top: 15px;
        padding-bottom: 15px;
      }

      .message-form {
        height: 92px;
        margin-bottom: 46px;
      }
    }
  }

  .map {
    &__container {
      padding: 0;
    }
  }
}